@import "../../App";

$radius: 40%;

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;

  label {
    padding: $padding;
    display: flex;
    margin: 1rem 0;

    input {
      width: 400px;
      border: $offWhite 1px solid;
    }

    input,
    span,
    button {
      margin: $margin;
      padding: $padding;
      border-radius: 85px;
    }

    button {
      background: $backgroundColor;
      border-radius: 85px;
      color: $offWhite;
      border: none;
      padding: $padding 1rem;
      filter: drop-shadow(0 0 5px #646cffaa);

      &:hover {
        background: lighten($backgroundColor, 35);
      }
    }

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: $padding 1rem;
        filter: drop-shadow(0 0 5px #646cffaa);
        border: $backgroundColor 2px solid;
        border-radius: 85px;
        margin: auto;

        &:hover,
        &.active {
          background: lighten($backgroundColor, 35);
        }
      }
    }
  }
}