@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$backgroundColor: rgb(0, 105, 255);
$secondaryColor: #fff;
$tertiaryColor: #1433d6;
$offWhite: #f5f5f5;
$margin: 10px;
$padding: 10px;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: lighten($tertiaryColor, 52);
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;

  #root {
    display: flex;
    flex-direction: column;
    // height: 100%;
    min-height: 100vh;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding: $padding;
    overflow-y: auto;
  }

  span {
    color: $backgroundColor;
  }

  .wrapper {
    background-color: $secondaryColor;
    width: fit-content;
    padding: $padding + 5;
    margin: $margin;
    border-radius: 15px;
    filter: drop-shadow(0 0 3px #646cffaa);

    * {
      margin: 10px;
    }
  }

  footer {
    background: #fff;
    color: $backgroundColor;
    border-top: 1px solid rgb(227, 232, 244);
    padding: 1em 0;
    display: flex;
    justify-content: center;
    // position: absolute;
    // bottom: 0;
    margin-top: auto;
    width: 100%;
  }

  header {
    background: #fff;
    color: $backgroundColor;
    border-bottom: 1px solid rgb(227, 232, 244);
    padding: 0;
    margin: 0;
    text-align: center;
  }
}